<nav class="navbar">
  <div class="nav-container">
    <a class="logo" routerLink="/">Game Center</a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>

    <div class="nav-menu">
      <div class="nav-buttons">
        @if(!isLoggedIn){
        <a class="btn-login" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
        <a class="btn-register" routerLink="/crear-cuenta" routerLinkActive="active">Registrarse</a>
        }
      </div>

      @if(isLoggedIn){
      <div class="nav-profile">
        <input type="checkbox" id="profile-toggle" class="profile-toggle" />
        <label for="profile-toggle" class="profile-label">
          <i class="icon-user"></i> Mi Cuenta
        </label>
        <ul class="profile-dropdown">
          <li><button (click)="logout()">Cerrar sesión</button></li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
