<div class="dashboard">
  <header class="topbar">
    <div class="user-info">
      <img [src]="avatarUrl" alt="" class="avatar" />
      <span class="email">{{ correoUsuario }}</span>
    </div>

    <button class="logout-btn">Cerrar Sesión</button>
  </header>

  <main class="content">
    <section class="cards-grid">
      <div class="card card--blue">
        <h3>Gestión</h3>
        <p>Administración general del sistema</p>
      </div>

      <div class="card card--green">
        <h3>Juegos</h3>
        <p>Listado y control de juegos</p>
      </div>

      <div class="card card--purple">
        <h3>Comisiones</h3>
        <p>Control de ingresos y porcentajes</p>
      </div>

      <div class="card card--orange">
        <h3>Reportes</h3>
        <p>Estadísticas y reportes generales</p>
      </div>

      <div class="card card--pink">
        <h3>Perfil</h3>
        <p>Información y configuración del usuario</p>
      </div>
    </section>
  </main>
</div>
<app-footer></app-footer>
