<div class="dashboard">
  <app-navbar-usuario-admin></app-navbar-usuario-admin>

  <main class="content">
    <section class="cards-grid">
      <div class="card card--blue" routerLink="/user-admin/crear-administrador">
        <h3>Crear Administrador</h3>
        <p>Creación de nuevos administradores</p>
      </div>

      <div class="card card--green" routerLink="/user-admin/gestionar-empresas">
        <h3>Gestionar Empresas</h3>
        <p>Administración de empresas registradas en la plataforma</p>
      </div>

      <div class="card card--orange" routerLink="/user-admin/gestionar-categorias">
        <h3>Gestionar Categorias</h3>
        <p>Administración de categorías del sistema</p>
      </div>

      <div class="card card--green">
        <h3>Moderar Juegos</h3>
        <p>Gestión de solicitudes de videojuegos</p>
      </div>

      <div class="card card--purple" routerLink="/user-admin/gestionar-comisiones">
        <h3>Comisiones</h3>
        <p>Control de ingresos y porcentajes</p>
      </div>

      <div class="card card--orange" routerLink="/user-admin/reportes">
        <h3>Reportes</h3>
        <p>Estadísticas y reportes generales</p>
      </div>

      <div class="card card--pink">
        <h3>Perfil</h3>
        <p>Información y configuración del usuario</p>
      </div>
    </section>
  </main>
</div>
<app-footer></app-footer>
