<nav class="navbar-usuario">
  <div class="nav-content">
    <div class="nav-logo">Game Center</div>
    <ul class="nav-menu">
      <li class="has-submenu">
        <span (click)="tiendaVideojuegos()">Tienda</span>
      </li>

      <li class="has-submenu">
        <span>Biblioteca</span>
        <ul class="submenu">
          <li (click)="videojuegosComprados()">Videojuegos Comprados</li>
          <li>Videojuegos Prestados</li>
        </ul>
      </li>
      <li class="has-submenu">
        <span>Interacciones</span>
        <ul class="submenu">
          <li>Ver Comentarios</li>
          <li>Ver Calificaciones</li>
        </ul>
      </li>
      <li><span (click)="gestionarGrupo()">Grupo</span></li>
      <li class="has-submenu">
        <span (click)="carteraDigital()">Cartera Digital</span>
      </li>
      <li><span>Estadísticas</span></li>
      <li><button class="btnLogout" (click)="logout()">Cerrar Sesión</button></li>
    </ul>
    <ul class="nav-menu" routerLink="/perfil-usuario">
      <li class="nav-profile">
        <img class="profile-img" [src]="avatarUrl" [alt]="nickname" />
        <span>Ver Perfil</span>
      </li>
    </ul>
  </div>
</nav>
