<nav class="navbar-usuario">
  <div class="nav-content">
    <div class="nav-logo">Game Center</div>
    <div class="nav-busqueda">
      <input type="text" placeholder="Buscar en la tienda..." />
    </div>
    <ul class="nav-menu">
      <li class="has-submenu">
        <span>Biblioteca</span>
        <ul class="submenu">
          <li>Juegos Comprados</li>
          <li>Juegos Prestados</li>
        </ul>
      </li>
      <li class="has-submenu">
        <span>Interacciones</span>
        <ul class="submenu">
          <li>Ver Comentarios</li>
          <li>Ver Calificaciones</li>
        </ul>
      </li>
      <li><span>Grupo</span></li>
      <li class="has-submenu">
        <span>Cartera Digital</span>
        <ul class="submenu">
          <li>Consultar Saldo</li>
          <li>Recargar Cartera</li>
        </ul>
      </li>
      <li><span>Estadísticas</span></li>
      <li><button class="btnLogout" (click)="logOut()">Cerrar Sesión</button></li>
    </ul>
    <ul class="nav-menu" routerLink="/perfil-usuario">
      <li class="nav-profile">
        <img class="profile-img" [src]="userAvatar" alt="" (error)="onAvatarError($event)" />
        <span>Ver Perfil</span>
      </li>
    </ul>
  </div>
</nav>
