// page-layout.component.scss
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f7f7f7;
  font-family: 'Inter', sans-serif;
}

.page-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}