.page-container {
  background-color: #0d0d0d; // fondo tipo cine
  color: #fff;
}

.content {
  flex: 1;
}

app-advertisement {
  width: 100%;
  max-width: 180px;
  height: 300px;
  margin: 0 auto 1rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  app-advertisement {
    max-width: 100%;
    height: 150px;
  }
}