<div class="dashboard">
  <app-navbar-usuario-empresa></app-navbar-usuario-empresa>

  <main class="content">
    <section class="cards-grid">
      <div class="card card--blue">
        <h3>Catálogo</h3>
        <p>Explora y accede a los juegos disponibles</p>
      </div>

      <div class="card card--green">
        <h3>Comentarios</h3>
        <p>Revisa y gestiona tus opiniones</p>
      </div>

      <div class="card card--orange">
        <h3>Reportes</h3>
        <p>Consulta reportes y actividad reciente</p>
      </div>

      <div
        class="card card--blue"
        routerLink="/user-empresa/registrar-usuario-empresa"
        routerLinkActive="active"
      >
        <h3>Registrar Usuario</h3>
        <p>Registra a nuevos usuarios</p>
      </div>

      <div class="card card--pink">
        <h3>Perfil</h3>
        <p>Administra tu información personal</p>
      </div>
    </section>
  </main>
</div>
<app-footer></app-footer>
